@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var rootypes = ViewBag.RoomType;
    var room  = ViewBag.Room;
   
}


<div class="main-container d-flex">
    <!-- Nội dung bên trái -->
    <div class="left-panel col-8 pl-0 pr-0">
        <!-- Thanh navbar -->
        <nav class="panel-navbar">
            <ul class="d-flex flex-row justify-content-between nav-container">
                <li class="nav-item active" id="WaitRoom">
                    <i class="fa-solid fa-door-open nav-icon" style="color: #009688;"></i>
                    <span class="">Phòng chờ</span>
                </li>

                <li class="nav-item" id="RentRoom">
                    <i class="fa-solid fa-door-closed nav-icon" style="color: #66C0B8;"></i>
                    <span class="">Phòng đang thuê</span>
                </li>

                <li class="nav-item" id="CleanRoom">
                    <i _ngcontent-c5="" class="fas fa-broom fa-lg text-danger ng-star-inserted nav-icon"></i>
                    <span class="">Phòng cần dọn</span>
                </li>

                <li class="nav-item">
                    <i class="fa-solid fa-clock-rotate-left nav-icon" style="color: #68CBF8;"></i>
                    <span class="">Lịch sử</span>
                </li>
            </ul>

            <div class="nav-line">

            </div>
        </nav>

        <!-- Main content -->
         <!--phong chờ -->
         
      
    <section id="WaitRoom-content" class="book-room-details-tabs active ren-content">
    @foreach (var item in rootypes)
       {
            <div class="container1">
                <h2 class="container-title1">@item.Name</h2>
                <div class="card-container1">
                   @foreach (var item1 in room)
                        {
                            if (item.RoomTypeId == item1.RoomTypeId)
                            {
                                <div class="col-3 p-0 m-0">
                                    <div class="card1-item">
                                        <div class="card1">
                                            <div class="card-content1">
                                                <div class="card-content1-top">
                                                    <h3 class="card-title1">@item1.RoomId</h3>
                                                    <div class="show-menu">
                                                        <i class="fa-solid fa-ellipsis-vertical"  ></i>
                                                        <div class="more-menu" >
                                                            <button id="dialog-bt checkin" onclick="openDialog()">
                                                                <i class="fa-solid fa-key" style="color: #8d929a;"></i>
                                                                <span >
                                                                    Nhận Phòng
                                                                </span>                                         
                                                            </button>                                             
                                                            <button onclick="ClearRoom()" id="btclearRoom">
                                                                <i class="fa-solid fa-tags fa-rotate-180" style="color: #7a8699;"></i>
                                                                <span>
                                                                    Yêu cầu dọn phòng
                                                                </span>    
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="card-content1-bottom">
                                                    <i class="fa-solid fa-person-running fa-2xl"></i>
                                                    <h3 class="card-title1">Ten Phong</h3>
                                                </div>

                                                <div class="card-content1-bottom clean-romm">
                                                    <i class="fa-solid fa-check fa-2xl" style="color: #4fff0f;"></i>
                                                    <h3 class="card-title1">đã dọn phòng</h3>
                                                </div>
                                                <!-- Thêm các thông tin khác của card 1 -->
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            }}
                                                   
                </div>
            </div>
        }                           
        </section>
       
         <!-- Main content -->
         <!--phòng đang thue-->
         <section class="book-room-details-tabs ren-content" id="RentRoom-content" >
            <div class="container1">
                <h2 class="container-title1">Tuấn</h2>
                <div class="card-container1">
                    <!-- Item -->
					<div class="col-3 p-0 m-0">
						<div class="card1-item">
                            <div class="card1">
                                <div class="card-content1">
                                    <div class="card-content1-top">
                                        <h3 class="card-title1">Ten Phong</h3>
                                        <div class="show-menu">
                                            <i class="fa-solid fa-ellipsis-vertical"  ></i>
                                            <div class="more-menu" >
                                                <button id="dialog-bt" >
                                                   <i class="fa-solid fa-marker" style="color: #5a6372;"></i>
                                                    <span  >
                                                        Chỉnh sửa
                                                    </span>                                         
                                                </button>

                                                <button onclick="AddMenu()">
                                                    <i class="fa-solid fa-calendar-days" style="color: #637088"></i>
                                                    <span  >
                                                       Thêm menu
                                                    </span>    
                                                </button>

                                                <button >
                                                    <i class="fa-solid fa-rotate-left fa-spin fa-spin-reverse" style="color: #444850;"></i>
                                                    <span>
                                                        Trả Phòng
                                                    </span>    
                                                </button>                                              
                                                 <button>
                                                    <i class="fa-solid fa-tags fa-rotate-180" style="color: #7a8699;"></i>
                                                    <span>
                                                        Yêu cầu dọn phòng
                                                    </span>    
                                                </button>
                                                 <button onclick="openDialog()">
                                                    <i class="fa-solid fa-trash" style="color: #565c67;"></i>
                                                    <span>
                                                       Xóa
                                                    </span>    
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                     
                                    <div class="card-content1-bottom ">
                                        <i class="fa-solid fa-clock fa-beat" style="color: #3b424f;"></i>
                                         <div class="hover-text">Thời Gian Thuê</div>
                                        <h3 class="card-title1">2 ngày 3</h3>
                                    </div>
                                      
                                    <div class="card-content1-bottom ">
                                        <i class="fa-solid fa-champagne-glasses fa-fade" style="color: #31343a;"></i>
                                         <div class="hover-text">Tiền dùng menu</div>
                                        <h3 class="card-title1">11110$</h3>
                                    </div>                                                                                                                                            
                                    <div class="card-content1-bottom ">
                                        <i class="fa-regular fa-credit-card fa-beat" style="color: #3b424e;"></i>
                                         <div class="hover-text">Tiền trả trước</div>
                                        <h3 class="card-title1">11110$</h3>
                                    </div>
                                     <div class="card-content1-bottom ">
                                       <i class="fa-solid fa-sack-dollar " style="color: #3f4550;"></i>
                                        <div class="hover-text">Tổng tiền</div>
                                        <h3 class="card-title1">11110$</h3>
                                    </div>
                                    <div class="card-content1-bottom ">
                                        <i class="fa-solid fa-note-sticky" style="color: #5e6673;"></i>
                                         <div class="hover-text">Ghi chú</div>
                                        <h3 class="card-title1">11110$</h3>
                                    </div>
                                    <!-- Thêm các thông tin khác của card 1 -->
                                </div>
                            </div>
                        </div>
                    </div>
                  
             
                </div>
            </div>
        </section>
        @* <!-- Main content -->
         <!--phòng cần dọn-->*@
          <section class="book-room-details-tabs ren-content" id="CleanRoom-content" >
            <div class="container1">
                <h2 class="container-title1">Loại phòng</h2>
                <div class="card-container1">
                    <!-- Item -->
					<div class="col-3 p-0 m-0">
						<div class="card1-item">
                            <div class="card1">
                                <div class="card-content1">
                                    <div class="card-content1-top">
                                        <h3 class="card-title1">Ten Phong</h3>
                                        <div class="show-menu">
                                            <i class="fa-solid fa-ellipsis-vertical"  ></i>

                                            <div class="more-menu" >
                                                <button id="dialog-bt" onclick="openDialog()">
                                                    <i class="fa-solid fa-check" style="color: #585b5f;"></i>
                                                    <span >
                                                        Đã Dọn
                                                    </span>                                         
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                     
                                    <div class="card-content1-bottom">
                                        <i class="fa-solid fa-hourglass-start fa-beat-fade"></i>
                                        <h3 class="card-title1" style="color:#009688"> Phòng Chờ</h3>
                                    </div>

                                    <div class="card-content1-bottom">
                                        <i class="fa-solid fa-stopwatch" style="color: #72767e;"></i>
                                        <h3 class="card-title1">999 giờ</h3>
                                    </div>
                                    <!-- Thêm các thông tin khác của card 1 -->
                                </div>
                            </div>
                        </div>
                    </div>                                               
                </div>
            </div>
        </section>
       @* <!-- Main content -->
         <!--lịch sử-->*@
         <section class="book-room-details-tabs ren-content" id="History-content" >
            <div class="container1">
                <h2 class="container-title1">Lịch sử</h2>
                <div class="card-container1">
                    <!-- Item -->
					<div class="col-3 p-0 m-0">
						<div class="card1-item">
                            <div class="card1">
                                <div class="card-content1">
                                    <div class="card-content1-top">
                                        <h3 class="card-title1">Ten Phong</h3>
                                        <div class="show-menu">
                                            <i class="fa-solid fa-ellipsis-vertical"  ></i>

                                            <div class="more-menu" >
                                                <button id="dialog-bt" onclick="openDialog()">
                                                    <i class="fa-solid fa-pencil fa-rotate-270 fa-lg" style="color: #484d56;"></i>
                                                    <span >
                                                        Chỉnh sửa
                                                    </span>                                         
                                                </button>

                                                <button onclick="openDialog()">
                                                    <i class="fa-solid fa-print fa-flip-horizontal" style="color: #525966;"></i>
                                                    <span>
                                                       In hóa đơn
                                                    </span>    
                                                </button>                                          
                                            </div>
                                        </div>
                                    </div>
                                     
                                    <div class="card-content1-bottom">
                                        <i class="fa-solid fa-rotate-left fa-sm" style="color: #7987a0;"></i>
                                        <h3 class="card-title1">2 ngày 1 giờ</h3>
                                    </div>

                                    <div class="card-content1-bottom">
                                       <i class="fa-solid fa-coins" style="color: #545e6d;"></i>
                                        <h3 class="card-title1">50 chục</h3>
                                    </div>
                                    <!-- Thêm các thông tin khác của card 1 -->
                                </div>
                            </div>
                        </div>
                    </div>                                
                </div>
            </div>
        </section>
        
    </div>

    <!-- Nội dung bên phải -->
    <div class="right-panel col-4 pl-0 pr-0">     
       
                                 
    </div>
</div>