@{
Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="main-container d-flex">
    <!-- Nội dung bên trái -->
    <div class="left-panel col-8 pl-0 pr-0">
        <!-- Thanh navbar -->
        <nav class="panel-navbar">
            <ul class="d-flex flex-row justify-content-between nav-container">
                <li class="nav-item active" id="WaitRoom">
                    <i class="fa-solid fa-door-open nav-icon" style="color: #009688;"></i>
                    <span class="">Phòng chờ</span>
                </li>

                <li class="nav-item" id="RentRoom">
                    <i class="fa-solid fa-door-closed nav-icon" style="color: #66C0B8;"></i>
                    <span class="">Phòng đang thuê</span>
                </li>

                <li class="nav-item" id="CleanRoom">
                    <i _ngcontent-c5="" class="fas fa-broom fa-lg text-danger ng-star-inserted nav-icon"></i>
                    <span class="">Phòng cần dọn</span>
                </li>

                <li class="nav-item">
                    <i class="fa-solid fa-clock-rotate-left nav-icon" style="color: #68CBF8;"></i>
                    <span class="">Lịch sử</span>
                </li>
            </ul>

            <div class="nav-line">

            </div>
        </nav>

        <!-- Main content -->
        <section id="WaitRoom" class="ren-content">
            <div class="container1">
                <h2 class="container-title1">Tên Loại Phòng</h2>
                <div class="card-container1">
					<div class="col-3 p-0 m-0">
						<div class="card1-item">
                            <div class="card1">
                                <div class="card-content1">
                                    <div class="card-content1-top">
                                        <h3 class="card-title1">Ten Phong</h3>
                                        <i id="show-menu" class="fa-solid fa-ellipsis-vertical"></i>
                                      
                                    </div>
                                     <div class="more-menu">
                                         <button id="dialog-bt">
                                             <i class="fa-solid fa-key" style="color: #8d929a;"></i>
                                             <span >
                                                 Nhận Phòng
                                             </span>                                         
                                         </button>
                                         <button onclick="openDialog()">
                                            <i class="fa-solid fa-calendar-days" style="color: #637088;"></i>
                                            <span>
                                                 Nhận Phòng đặt trước
                                             </span>    
                                         </button>
                                         <button onclick="openDialog()">
                                             <i class="fa-solid fa-tags fa-rotate-180" style="color: #7a8699;"></i>
                                             <span>
                                                 Yêu cầu dọn phòng
                                             </span>    
                                         </button>
                                       </div>
                                    <div class="card-content1-bottom">
                                        <i class="fa-solid fa-person-running fa-2xl"></i>
                                        <h3 class="card-title1">Ten Phong</h3>
                                    </div>
                                    <div class="card-content1-bottom">
                                        <i class="fa-solid fa-check fa-2xl" style="color: #4fff0f;"></i>
                                        <h3 class="card-title1">Ten Phong</h3>
                                    </div>
                                    <!-- Thêm các thông tin khác của card 1 -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 p-0 m-0">
						<div class="card1-item">
                            <div class="card1">
                                <div class="card-content1">
                                    <div class="card-content1-top">
                                        <h3 class="card-title1">Ten Phong</h3>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </div>
                                    <div class="card-content1-bottom">
                                        <i class="fa-solid fa-person-running fa-2xl"></i>
                                        <h3 class="card-title1">Ten Phong</h3>
                                    </div>
                                    <div class="card-content1-bottom">
                                        <i class="fa-solid fa-check fa-2xl" style="color: #4fff0f;"></i>
                                        <h3 class="card-title1">Ten Phong</h3>
                                    </div>
                                    <!-- Thêm các thông tin khác của card 1 -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 p-0 m-0">
						<div class="card1-item">
                            <div class="card1">
                                <div class="card-content1">
                                    <div class="card-content1-top">
                                        <h3 class="card-title1">Ten Phong</h3>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </div>
                                    <div class="card-content1-bottom">
                                        <i class="fa-solid fa-person-running fa-2xl"></i>
                                        <h3 class="card-title1">Ten Phong</h3>
                                    </div>
                                    <div class="card-content1-bottom">
                                        <i class="fa-solid fa-check fa-2xl" style="color: #4fff0f;"></i>
                                        <h3 class="card-title1">Ten Phong</h3>
                                    </div>
                                    <!-- Thêm các thông tin khác của card 1 -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 p-0 m-0">
						<div class="card1-item">
                            <div class="card1">
                                <div class="card-content1">
                                    <div class="card-content1-top">
                                        <h3 class="card-title1">Ten Phong</h3>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </div>
                                    <div class="card-content1-bottom">
                                        <i class="fa-solid fa-person-running fa-2xl"></i>
                                        <h3 class="card-title1">Ten Phong</h3>
                                    </div>
                                    <div class="card-content1-bottom">
                                        <i class="fa-solid fa-check fa-2xl" style="color: #4fff0f;"></i>
                                        <h3 class="card-title1">Ten Phong</h3>
                                    </div>
                                    <!-- Thêm các thông tin khác của card 1 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Nội dung bên phải -->
    <div class="right-panel col-4 pl-0 pr-0">
        <!-- Lưu đặt phòng -->
        <div class="panel-save d-flex justify-content-between align-items-center">
            <span>Thêm mới</span>

            <div class="">
                <a asp-controller="" asp-action="">Lưu</a>
            </div>
        </div>

        <!-- Form -->
        <form class="panel-form">
            <!-- Thông tin -->
            <div class="panel-form-info">
                <!-- Tên khách hàng -->
                <div class="panel-form-item">
                    <h5 class="panel-form-title">Họ và tên khách hàng</h5>
                    <input class="panel-form-input" type="text" value="" />
                </div>

                <!-- Số điện thoại -->
                <div class="panel-form-item">
                    <h5 class="panel-form-title">Số điện thoại</h5>
                    <input class="panel-form-input" type="number" value="" />
                </div>

                <!-- CCCD -->
                <div class="panel-form-item">
                    <h5 class="panel-form-title">Căn cước công dân</h5>
                    <input class="panel-form-input" type="number" value="" />
                </div>

                <!-- Ngày -->
                <div class="panel-form-item">
                    <div class="panel-form-height">
                        <div class="panel-form-height-item">
                            <h5 class="panel-form-title">Ngày nhận phòng</h5>
                            <input class="panel-form-input" type="date" value="" />
                        </div>

                        <div class="panel-form-height-item">
                            <h5 class="panel-form-title">Ngày trả phòng</h5>
                            <input class="panel-form-input" type="date" value="" />
                        </div>
                    </div>
                </div>

                <!-- Tiền trả trước -->
                <div class="panel-form-item">
                    <h5 class="panel-form-title">Tiền trả trước</h5>
                    <input class="panel-form-input" type="number" value="" placeholder="0.000 đ" />
                </div>

                <!-- Ghi chú -->
                <div class="panel-form-item">
                    <h5 class="panel-form-title">Ghi chú</h5>
                    <input class="panel-form-input" type="text" value="" placeholder="" />
                </div>
            </div>

            <!-- Phòng -->
            <div class="panel-form-room">
                <div class="panel-form-room-item">
                    <h5 class="panel-form-title">Thêm phòng</h5>

                    <button class="panel-form-room-btn">Thêm phòng</button>
                </div>
            </div>
        </form>
    </div>
</div>