@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div _ngcontent-c20="" class="px-4 container-fluid h-100 w-100">
	<div _ngcontent-c20="" class="d-flex w-100">
		<div class="row w-100">
			<div class="col-3" style="margin-top: 24px">
				<div class="card p-20 m-0 d-flex">
					<div _ngcontent-c20="" class="row">
						<div _ngcontent-c20="" class="col-5">
							<div _ngcontent-c20="" class="icon-big text-center">
								<i _ngcontent-c20="" class="fas fa-retweet icon-warning"></i>
							</div>
						</div>
						<div _ngcontent-c20="" class="col-7">
							<div _ngcontent-c20="" class="numbers flex-grow-1">
								<p _ngcontent-c20="">Thuê trong ngày</p>
								0 lượt
							</div>
						</div>
					</div>
					<div _ngcontent-c20="" class="footer">
						<hr _ngcontent-c20="">
						<div _ngcontent-c20="" class="stats pointer">
							<a href="#">
								<i _ngcontent-c20="" class="fas fa-sync text-muted"></i>
								Cập nhật
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-3" style="margin-top: 24px">
				<div class="card p-20 m-0 d-flex">
					<div _ngcontent-c20="" class="row">
						<div _ngcontent-c20="" class="col-5">
							<div _ngcontent-c20="" class="icon-big text-center">
								<i _ngcontent-c20="" class="fas fa-door-open text-primary"></i>
							</div>
						</div>
						<div _ngcontent-c20="" class="col-7">
							<div _ngcontent-c20="" class="numbers flex-grow-1">
								<p _ngcontent-c20="">Phòng chờ</p> 1 phòng
							</div>
						</div>
					</div>

					<div _ngcontent-c20="" class="footer">
						<hr _ngcontent-c20="">
						<div _ngcontent-c20="" class="stats pointer">
							<a href="#">
								<i _ngcontent-c20="" class="fas fa-key text-muted"></i> Thuê phòng
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-3" style="margin-top: 24px">
				<div class="card p-20 m-0 d-flex">
					<div _ngcontent-c20="" class="row">
						<div _ngcontent-c20="" class="col-5">
							<div _ngcontent-c20="" class="icon-big text-center">
								<i _ngcontent-c20="" class="fas fa-door-closed text-warning"></i>
							</div>
						</div>
						<div _ngcontent-c20="" class="col-7">
							<div _ngcontent-c20="" class="numbers flex-grow-1">
								<p _ngcontent-c20="">Phòng đang thuê</p> 0 phòng
							</div>
						</div>
					</div>
					<div _ngcontent-c20="" class="footer">
						<hr _ngcontent-c20="">
						<div _ngcontent-c20="" class="stats pointer">
							<a href="#">
								<i _ngcontent-c20="" class="fas fa-reply text-muted"></i>
								Thêm menu &amp; Trả phòng
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-3" style="margin-top: 24px">
				<div class="card p-20 m-0 d-flex">
					<div _ngcontent-c20="" class="row">
						<div _ngcontent-c20="" class="col-5">
							<div _ngcontent-c20="" class="icon-big text-center">
								<i _ngcontent-c20="" class="fas fa-broom text-danger"></i>
							</div>
						</div>
						<div _ngcontent-c20="" class="col-7">
							<div _ngcontent-c20="" class="numbers flex-grow-1">
								<p _ngcontent-c20="">Phòng cần dọn</p> 1 phòng
							</div>
						</div>
					</div>

					<div _ngcontent-c20="" class="footer">
						<hr _ngcontent-c20="">
						<div _ngcontent-c20="" class="stats pointer">
							<a href="#">
								<i _ngcontent-c20="" class="fas fa-broom text-muted"></i>
								Dọn phòng
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div _ngcontent-c20="" class="d-flex mt-4">
		<mat-card _ngcontent-c20="" class="flex-grow-1 chart-panel mr-3 mat-card">
			<div _ngcontent-c20="" class="w-100" style="height:570px">
				<ngx-charts-line-chart _ngcontent-c20="" class="ng-tns-c22-11">
					<ngx-charts-chart class="ng-tns-c22-11 ng-tns-c24-12">
						<div class="ngx-charts-outer ng-trigger ng-trigger-animationState" style="width: 736px;">
							<svg class="ngx-charts" width="736" height="570">
								<defs class="ng-tns-c22-11">
									<clipPath class="ng-tns-c22-11" id="clipawj8s">
										<rect class="ng-tns-c22-11" width="665" height="511"
											transform="translate(-5, -5)"></rect>
									</clipPath>
								</defs>
								<g class="line-chart chart ng-tns-c22-11" transform="translate(66 , 10)">
									<!---->
									<g ngx-charts-x-axis="" class="ng-tns-c22-11 ng-star-inserted" style="">
										<g class="x axis" transform="translate(0,506)">
											<!---->
											<g ngx-charts-x-axis-ticks="" class="ng-star-inserted">
												<g>
													<!---->
													<g class="tick ng-star-inserted"
														transform="translate(6.421568627450938,20)" style="">
														<title>14/07</title><text stroke-width="0.01"
															text-anchor="middle" transform="" style="font-size: 12px;">
															14/07 </text>
													</g>
													<g class="tick ng-star-inserted"
														transform="translate(70.63725490196074,20)" style="">
														<title>15/07</title><text stroke-width="0.01"
															text-anchor="middle" transform="" style="font-size: 12px;">
															15/07 </text>
													</g>
													<g class="tick ng-star-inserted"
														transform="translate(134.85294117647055,20)" style="">
														<title>16/07</title><text stroke-width="0.01"
															text-anchor="middle" transform="" style="font-size: 12px;">
															16/07 </text>
													</g>
													<g class="tick ng-star-inserted"
														transform="translate(199.06862745098036,20)" style="">
														<title>17/07</title><text stroke-width="0.01"
															text-anchor="middle" transform="" style="font-size: 12px;">
															17/07 </text>
													</g>
													<g class="tick ng-star-inserted"
														transform="translate(263.28431372549016,20)" style="">
														<title>18/07</title><text stroke-width="0.01"
															text-anchor="middle" transform="" style="font-size: 12px;">
															18/07 </text>
													</g>
													<g class="tick ng-star-inserted" transform="translate(327.5,20)"
														style="">
														<title>19/07</title><text stroke-width="0.01"
															text-anchor="middle" transform="" style="font-size: 12px;">
															19/07 </text>
													</g>
													<g class="tick ng-star-inserted"
														transform="translate(391.7156862745098,20)" style="">
														<title>20/07</title><text stroke-width="0.01"
															text-anchor="middle" transform="" style="font-size: 12px;">
															20/07 </text>
													</g>
													<g class="tick ng-star-inserted"
														transform="translate(455.93137254901956,20)" style="">
														<title>21/07</title><text stroke-width="0.01"
															text-anchor="middle" transform="" style="font-size: 12px;">
															21/07 </text>
													</g>
													<g class="tick ng-star-inserted"
														transform="translate(520.1470588235294,20)" style="">
														<title>22/07</title><text stroke-width="0.01"
															text-anchor="middle" transform="" style="font-size: 12px;">
															22/07 </text>
													</g>
													<g class="tick ng-star-inserted"
														transform="translate(584.3627450980392,20)" style="">
														<title>23/07</title><text stroke-width="0.01"
															text-anchor="middle" transform="" style="font-size: 12px;">
															23/07 </text>
													</g>
													<g class="tick ng-star-inserted"
														transform="translate(648.5784313725491,20)">
														<title>24/07</title><text stroke-width="0.01"
															text-anchor="middle" transform="" style="font-size: 12px;">
															24/07 </text>
													</g>
												</g><!---->
												<g transform="translate(6.421568627450938,20)" class="ng-star-inserted"
													style="">
													<!---->
													<g transform="translate(0,-25)" class="ng-star-inserted">
														<line class="gridline-path gridline-path-vertical" y2="0"
															y1="-501"></line>
													</g>
												</g>
												<g transform="translate(70.63725490196074,20)" class="ng-star-inserted"
													style="">
													<!---->
													<g transform="translate(0,-25)" class="ng-star-inserted">
														<line class="gridline-path gridline-path-vertical" y2="0"
															y1="-501"></line>
													</g>
												</g>
												<g transform="translate(134.85294117647055,20)" class="ng-star-inserted"
													style="">
													<!---->
													<g transform="translate(0,-25)" class="ng-star-inserted">
														<line class="gridline-path gridline-path-vertical" y2="0"
															y1="-501"></line>
													</g>
												</g>
												<g transform="translate(199.06862745098036,20)" class="ng-star-inserted"
													style="">
													<!---->
													<g transform="translate(0,-25)" class="ng-star-inserted">
														<line class="gridline-path gridline-path-vertical" y2="0"
															y1="-501"></line>
													</g>
												</g>
												<g transform="translate(263.28431372549016,20)" class="ng-star-inserted"
													style="">
													<!---->
													<g transform="translate(0,-25)" class="ng-star-inserted">
														<line class="gridline-path gridline-path-vertical" y2="0"
															y1="-501"></line>
													</g>
												</g>
												<g transform="translate(327.5,20)" class="ng-star-inserted" style="">
													<!---->
													<g transform="translate(0,-25)" class="ng-star-inserted">
														<line class="gridline-path gridline-path-vertical" y2="0"
															y1="-501"></line>
													</g>
												</g>
												<g transform="translate(391.7156862745098,20)" class="ng-star-inserted"
													style="">
													<!---->
													<g transform="translate(0,-25)" class="ng-star-inserted">
														<line class="gridline-path gridline-path-vertical" y2="0"
															y1="-501"></line>
													</g>
												</g>
												<g transform="translate(455.93137254901956,20)" class="ng-star-inserted"
													style="">
													<!---->
													<g transform="translate(0,-25)" class="ng-star-inserted">
														<line class="gridline-path gridline-path-vertical" y2="0"
															y1="-501"></line>
													</g>
												</g>
												<g transform="translate(520.1470588235294,20)" class="ng-star-inserted"
													style="">
													<!---->
													<g transform="translate(0,-25)" class="ng-star-inserted">
														<line class="gridline-path gridline-path-vertical" y2="0"
															y1="-501"></line>
													</g>
												</g>
												<g transform="translate(584.3627450980392,20)" class="ng-star-inserted"
													style="">
													<!---->
													<g transform="translate(0,-25)" class="ng-star-inserted">
														<line class="gridline-path gridline-path-vertical" y2="0"
															y1="-501"></line>
													</g>
												</g>
												<g transform="translate(648.5784313725491,20)" class="ng-star-inserted">
													<!---->
													<g transform="translate(0,-25)" class="ng-star-inserted">
														<line class="gridline-path gridline-path-vertical" y2="0"
															y1="-501"></line>
													</g>
												</g>
											</g><!---->
											<g ngx-charts-axis-label="" class="ng-star-inserted">
												<text stroke-width="0.01" x="327.5" y="44" text-anchor="middle"
													transform=""> Ngày </text>
											</g>
										</g>
									</g><!---->
									<g ngx-charts-y-axis="" class="ng-tns-c22-11 ng-star-inserted" style="">
										<g class="y axis" transform="translate(-5 , 0)">
											<!---->
											<g ngx-charts-y-axis-ticks="" class="ng-star-inserted">
												<g>
													<!---->
													<g class="tick ng-star-inserted" transform="translate(0,501)">
														<title>0</title><text stroke-width="0.01" dy=".32em" x="-9"
															text-anchor="end" style="font-size: 12px;"> 0 </text>
													</g>
												</g><!----><!---->
												<g transform="translate(0,501)" class="ng-star-inserted">
													<!---->
													<g transform="translate(5,0)" class="ng-star-inserted">
														<!---->
														<line
															class="gridline-path gridline-path-horizontal ng-star-inserted"
															x1="0" x2="655">
														</line><!---->
													</g>
												</g><!---->
											</g><!---->
											<g ngx-charts-axis-label="" class="ng-star-inserted">
												<text stroke-width="0.01" x="-250.5" y="-36" text-anchor="middle"
													transform="rotate(270)"> Lượt thuê phòng </text>
											</g>
										</g>
									</g>
									<g class="ng-tns-c22-11" clip-path="url(#clipawj8s)">
										<!---->
										<g class="ng-tns-c22-11 ng-trigger ng-trigger-animationState ng-star-inserted"
											style="">
											<g class="ng-tns-c22-11" ngx-charts-line-series="">
												<g>
													<defs><!----></defs>
													<g class="line-highlight" ngx-charts-area="">
														<!---->
														<defs class="ng-star-inserted" style="">
															<g ngx-charts-svg-linear-gradient="" orientation="vertical">
																<linearGradient id="gradansvo" x1="0%" y1="100%" x2="0%"
																	y2="0%">
																	<!---->
																	<stop offset="0%" class="ng-star-inserted"
																		style="stop-color: rgb(168, 56, 93); stop-opacity: 0;">
																	</stop>
																	<stop offset="100%" class="ng-star-inserted"
																		style="stop-color: rgb(168, 56, 93); stop-opacity: 1;">
																	</stop>
																</linearGradient>
															</g>
														</defs>
														<path class="area" style="opacity: 0.25;" fill="url(#gradansvo)"
															d="M6.421568627450938,5L70.63725490196074,501L134.85294117647055,501L199.06862745098036,501L263.28431372549016,501L327.5,501L391.7156862745098,501L455.93137254901956,501L520.1470588235294,501L584.3627450980392,501L648.5784313725491,501L648.5784313725491,501L584.3627450980392,501L520.1470588235294,501L455.93137254901956,501L391.7156862745098,501L327.5,501L263.28431372549016,501L199.06862745098036,501L134.85294117647055,501L70.63725490196074,501L6.421568627450938,501Z">
														</path>
													</g>
													<g class="line-series ng-tns-c31-14" ngx-charts-line="">
														<path class="line ng-trigger ng-trigger-animationState"
															stroke-width="1.5px"
															d="M6.421568627450938,5L70.63725490196074,501L134.85294117647055,501L199.06862745098036,501L263.28431372549016,501L327.5,501L391.7156862745098,501L455.93137254901956,501L520.1470588235294,501L584.3627450980392,501L648.5784313725491,501"
															fill="none" stroke="#a8385d"></path>
													</g><!---->
												</g>
											</g>
										</g><!---->
										<g class="ng-tns-c22-11 ng-star-inserted" style="">
											<g class="ng-tns-c22-11 ng-tns-c25-15" ngx-charts-tooltip-area="">
												<g class="ng-tns-c25-15">
													<rect class="tooltip-area" style="opacity: 0; cursor: 'auto';" y="0"
														x="0" width="655" height="501"></rect><!---->
													<rect class="tooltip-anchor ng-trigger ng-trigger-animationState"
														ngx-tooltip="" y="0" x="263.28431372549016" width="1"
														height="501" style="opacity: 0; pointer-events: none;">
													</rect>
												</g>
											</g><!---->
											<g class="ng-tns-c22-11 ng-star-inserted" style="">
												<g class="ng-tns-c22-11 ng-tns-c26-21" ngx-charts-circle-series="">
													<!---->
												</g>
											</g>
										</g>
									</g>
								</g><!---->
							</svg><!----><!---->
						</div>
					</ngx-charts-chart>
				</ngx-charts-line-chart>
			</div>
		</mat-card>
		<div _ngcontent-c20="" class="log-panel">
			<app-log-panel _ngcontent-c20="" _nghost-c23="">
				<mat-card _ngcontent-c23="" class="p-0 h-100 mat-card">
					<div _ngcontent-c23="" class="border-bottom px-3 d-flex"
						style="padding-top:0.75rem; padding-bottom:0.75rem; height: 50px;">
						<span _ngcontent-c23="" class="text-primary"> Nhật ký hệ thống </span>
						<div _ngcontent-c23="" class="flex-grow-1"></div>
						<div _ngcontent-c23="">
							<mat-icon _ngcontent-c23="" aria-haspopup="true"
								class="pointer mat-icon notranslate material-icons mat-icon-no-color" role="img"
								aria-hidden="true">more_vert</mat-icon><mat-menu _ngcontent-c23=""
								class="ng-tns-c28-13"><!----></mat-menu>
						</div>
					</div>
					<div _ngcontent-c23="" class="log-list flex-grow-1">
						<!---->
						<div _ngcontent-c23="" class="d-flex log-info py-2 border-bottom ng-star-inserted">
							<div _ngcontent-c23="">
								<!----><!----><mat-icon _ngcontent-c23=""
									class="mx-3 mat-icon notranslate material-icons mat-icon-no-color ng-star-inserted"
									role="img"
									aria-hidden="true">undo</mat-icon><!----><!----><!----><!----><!----><!----><!----><!----><!---->
							</div>
							<div _ngcontent-c23="" class="flex-grow-1">
								<div _ngcontent-c23="">Trả phòng vip</div>
								<div _ngcontent-c23="" class="text-muted mt-1 text-sm d-flex">
									<div _ngcontent-c23="" style="width: 140px">
										<i _ngcontent-c23="" class="far fa-clock" style="padding:10px"></i>
										14/06/2023 14:30
									</div>
									<div _ngcontent-c23=""><i _ngcontent-c23="" class="fas fa-user ml-3"
											style="padding:10px"></i> nguyenanhhao08032003</div>
								</div>
							</div>
						</div>
						<div _ngcontent-c23="" class="d-flex log-info py-2 border-bottom ng-star-inserted">
							<div _ngcontent-c23="">
								<!----><mat-icon _ngcontent-c23=""
									class="mx-3 mat-icon notranslate material-icons mat-icon-no-color ng-star-inserted"
									role="img"
									aria-hidden="true">vpn_key</mat-icon><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
							</div>
							<div _ngcontent-c23="" class="flex-grow-1">
								<div _ngcontent-c23="">Nhận phòng vip</div>
								<div _ngcontent-c23="" class="text-muted mt-1 text-sm d-flex">
									<div _ngcontent-c23="" style="width: 140px">
										<i _ngcontent-c23="" class="far fa-clock" style="padding:10px"></i>
										14/06/2023 14:30
									</div>
									<div _ngcontent-c23=""><i _ngcontent-c23="" class="fas fa-user ml-3"
											style="padding:10px"></i> nguyenanhhao08032003</div>
								</div>
							</div>
						</div><!---->
					</div>
				</mat-card>
			</app-log-panel>
		</div>
	</div>
</div>