.main-container {
}

/* --------------------------------- Đặt phòng --------------------------------- */
/* Left panel */
.left-panel {
    padding-top: 14px;
    border-right: 1px solid var(--line-color);
    min-height: calc(100vh - 80px);
}

.panel-navbar {
    border-bottom: 1px solid var(--line-color);
}

.panel-navbar ul {
    margin: 0;
}

.nav-item {
    padding: 10px 24px;
}

.nav-item span {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}

.panel-navbar-icon {

}

/* Right panel */
.right-panel {
    padding-top: 14px;
    min-height: calc(100vh - 80px);
}

.panel-save {
    padding: 0 16px;
    border-bottom: 1px solid var(--line-color);
}

.panel-save span,
.panel-save a {
    font-size: 16px;
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
}

/* form đặt phòng */
.panel-form {

}

.panel-form-info {
    padding: 16px;
}

.panel-form-item {
    padding-top: 18px;
    padding-bottom: 12px;
}

.panel-form-title {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 4px;
}

.panel-form-input {
    border: none;
    border-bottom: 1px solid #949494;
    width: 100%;
    font-size: 16px;
}

.panel-form-height {
    display: flex;
}

.panel-form-height-item {
    width: 50%;
}

.panel-form-height-item:first-child {
    padding-right: 8px;
}

.panel-form-height-item:last-child {
    padding-left: 8px;
}

.panel-form-room {
    padding: 16px 0;
}

.panel-form-room-item {
    border-top: 1px solid #949494;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.panel-form-room-item .panel-form-title {
    margin: 0;
}

.panel-form-room-btn {
    border: none;
}