@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-container d-flex">
	<!-- Nội dung bên trái -->
	<div class="left-panel col-8 pl-0 pr-0">
		<div class="content container-fluid">
			<div class="page-header">
				<div class="row align-items-center">
					<div class="col">
						<div class="">
							<h4 class="card-title float-left mt-2" style="font-size: 24px">Tất cả loại phòng</h4> 
							<a class="btn btn-primary float-right veiwbutton" id="roomType-insert">Thêm loại phòng</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="card card-table">
						<div class="card-body booking_card">
							<div class="table-responsive">
								<table class="datatable table table-stripped table table-hover table-center mb-0">
									<thead>
										<tr>
											<th style="width: 10%">Mã dịch vụ</th>
											<th style="width: 20%">Tên</th>
											<th style="width: 20%">Giá</th>
											<th style="width: 10%">Số Lượng</th>
											<th style="width: 40%">Chức năng</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Phòng siêu vip</td>
											<td>1.000.000đ</td>
											<td>2</td>
											<td>
												<a asp-controller="" asp-action="" class="btn btn-primary btn-sm" style="width: 100px" >
													<i class="fas fa-folder"></i>
													Chi tiết
												</a>

												<a asp-controller="" asp-action="" class="btn btn-info btn-sm" style="width: 100px" >
													<i class="fas fa-pencil-alt"></i>
													Chỉnh sửa
												</a>
												<a asp-controller="" asp-action="" class="btn btn-danger btn-sm" style="width: 100px">
													<i class="fas fa-pencil-alt"></i>
													Xóa
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Xóa -->
	<div class="right-panel-delete col-4 pl-0 pr-0">
		<!-- Lưu đặt phòng -->
		<div class="panel-save d-flex justify-content-between align-items-center">
			<span>Xóa</span>

			<div class="">
				<a asp-controller="" asp-action="">Lưu</a>
			</div>
		</div>

		<!-- Form -->
		<form class="panel-form">
			<!-- Thông tin -->
			<div class="panel-form-info">
				<!-- Mã dịch vụ -->
				<div class="panel-form-item">
					<h5 class="panel-form-title">Mã dịch vụ</h5>
					<input class="panel-form-input" type="text" value="1" readonly />
				</div>


				<!-- Tên dịch vụ -->
				<div class="panel-form-item">
					<h5 class="panel-form-title">Tên</h5>
					<input class="panel-form-input" type="text" value="Phòng siêu Vip" readonly />
				</div>

				<!-- Giá dịch vụ -->
				<div class="panel-form-item">
					<h5 class="panel-form-title">Giá</h5>
					<input class="panel-form-input" type="text" value="1.000.000đ" readonly />
				</div>

				<!-- Số lượng -->
				<div class="panel-form-item">
					<h5 class="panel-form-title">Số lượng</h5>
					<input class="panel-form-input" type="text" value="2" readonly />
				</div>
				<div>
				<div class="" style="text-align:right">
					<a class="btn btn-danger btn-sm" asp-controller="" asp-action="">Hủy bỏ</a>
				</div>
			</div>
			</div>
			@*<div>
				<div class="" style="text-align:right">
					<a class="btn btn-danger btn-sm" asp-controller="" asp-action="">Hủy bỏ</a>
				</div>
			</div>*@
		</form>
	</div>
	<!-- Chỉnh sửa -->
	<div class="right-panel-edit col-4 pl-0 pr-0">
		<!-- Lưu đặt phòng -->
		<div class="panel-save d-flex justify-content-between align-items-center">
			<span>Chỉnh sửa</span>

			<div class="">
				<a asp-controller="" asp-action="">Lưu</a>
			</div>
		</div>

		<!-- Form -->
		<form class="panel-form">
			<div class="panel-form-info">
				<!-- Mã dịch vụ -->
				<div class="panel-form-item">
					<h5 class="panel-form-title">Mã dịch vụ</h5>
					<input class="panel-form-input" type="text" value="" />
				</div>


				<!-- Tên dịch vụ -->
				<div class="panel-form-item">
					<h5 class="panel-form-title">Tên</h5>
					<input class="panel-form-input" type="text" value="" />
				</div>

				<!-- Giá dịch vụ -->
				<div class="panel-form-item">
					<h5 class="panel-form-title">Giá</h5>
					<input class="panel-form-input" type="text" value="" />
				</div>

				<!-- Số lượng -->
				<div class="panel-form-item">
					<h5 class="panel-form-title">Số lượng</h5>
					<input class="panel-form-input" type="text" value="" />
				</div>
			</div>
			<div>
				<div class="" style="text-align:center">
					<a class="btn btn-info btn-sm" asp-controller="" style="margin-right:50px" asp-action="">Lưu</a>
					<a class="btn btn-info btn-sm" asp-controller="" asp-action="">Hủy bỏ</a>
				</div>
			</div>
		</form>
	</div>
	<!-- Them -->
	<div class="right-panel-create col-4 pl-0 pr-0">
		<!-- Lưu đặt phòng -->
		<div class="panel-save d-flex justify-content-between align-items-center">
			<span>Thêm mới</span>

			<div class="">
				<a asp-controller="" asp-action="">Lưu</a>
			</div>
		</div>

		<!-- Form -->
		<form class="panel-form">
			<!-- Thông tin -->
			<div class="panel-form-info">
				<!-- Mã dịch vụ -->
				<div class="panel-form-item">
					<h5 class="panel-form-title">Mã dịch vụ</h5>
					<input class="panel-form-input" type="text" value="" readonly />
				</div>
				

				<!-- Tên dịch vụ -->
				<div class="panel-form-item">
					<h5 class="panel-form-title">Tên</h5>
					<input class="panel-form-input" type="text" value="" />
				</div>

				<!-- Giá dịch vụ -->
				<div class="panel-form-item">
					<h5 class="panel-form-title">Giá</h5>
					<input class="panel-form-input" type="text" value="" />
				</div>

				<!-- Số lượng -->
				<div class="panel-form-item">
					<h5 class="panel-form-title">Số lượng</h5>
					<input class="panel-form-input" type="text" value="" />
				</div>
			</div>
		</form>
	</div>
</div>